#screen {
    width: 200px;
    height: 50px;
    background-color: gainsboro;
    text-align: right;
}
#currentNumber {
    height: 30px;
}
#entered {
    font-size: 10pt;
}
#screen p {
    margin: 0;
    padding: 0;
}

button {
    width: 100%;
    height: 35px;
    color: white;
    background-color: darkgrey;
    border: none;
    outline: none;
    box-shadow: none;
}
button:active {
    color: gainsboro;
    box-shadow: none;
    outline: none;
}
button:focus {
    outline: none;
    box-shadow: none;
}
button:hover {
    background-color: #777;
}

.col {
    margin: 0 2px;
}
.row {
    margin: 4px 0;
}