#screen {
    width: 200px;
    height: 40px;
    background-color: gainsboro;
    text-align: right;
}

button {
    width: 100%;
    height: 35px;
    color: white;
    background-color: darkgrey;
    border: none;
}
button:active {
    color: gainsboro;
    box-shadow: none;
}
button:hover {
    background-color: #777;
}

.col {
    margin: 8px;
}