@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

#screen {
    height: 75px;
    padding: 0 15px;
    margin-bottom: 20px;
    background-color: #d6d5d1;
    text-align: right;
    font-family: 'Roboto Mono', monospace;
}
#currentNumber {
    height: 50px;
    font-size: 24pt;
}
#entered {
    font-size: 12pt;
}
#screen p {
    margin: 0;
    padding: 0;
}

.clears {
    margin: 0 2px;
}

button {
    width: 100%;
    height: 40px;
    color: white;
    background-color: darkgrey;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14pt;
}
button:active {
    color: gainsboro;
    box-shadow: none;
    outline: none;
}
button:focus {
    outline: none;
    box-shadow: none;
}
button:hover {
    background-color: #777;
}
button.buttonRed {
    color: white;
    background-color: #b24545;
}
button.buttonRed:hover {
    background-color: #8e3636;
}
button.buttonEquals {
    color: white;
    background-color: #91b282;
}
button.buttonEquals:hover {
    background-color: #647c59;
}

.col {
    margin: 0 2px;
}
.row {
    margin: 4px 0;
}